:root {
	--top-bar-h: 152px;
	--top-bar-big-h: 152px;
	--top-bar-small-h: 152px;
	--plyr-color-main: #0066FF;
}

* {
	box-sizing: border-box;
}

body {
	&.no-transition *:not(.color-mode__button > span) {
		transition: none!important;
	}

    &.dark-mode {
		background-color: $black;
	}
}