.header {
    overflow: hidden;
    
    .dark-mode & {
        color: $white;
        border-bottom: 1px solid currentColor;
    }
    
} 

.header--home {
    width: 100%;
    height: 100vh;
    padding-top: var(--top-bar-big-h);

    h1 {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: white;
		font-size: clamp(2.5rem,5vw,6rem);
		line-height: 1;
		margin-top: 0;
		margin-bottom: .5em;
        width: 100%;
	}
	
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style-type: none;
		height: 1.2em;
		overflow: hidden;
	}
	
	li {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		
		// &:not(:first-child) {
		// 	opacity: 0;
		// 	visibility: hidden;
		// }
	}
}

.header--home .header__media {
    position: relative;
    width: 100%;
    height: 100%;
}

.header__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-search-bar {
    position: relative;
    display: flex;
    width: 33%;

    .aa-InputWrapperPrefix {
        display: none;
    }

    .aa-ClearButton {
        position: absolute;
        top: 0;
        right: 80px;
        width: 80px;
        height: 100%;
        border: none;
        border-left: 1px solid #000000;
        background: #FFF;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    form {
        height: 60px;
        border-radius: 60px;
    }
}

.home-search-bar__input {
    flex: 1 1 100%;

    input {
        height: 60px;
        border-radius: 60px;
        padding: 0 0 0 $gutter/3;
        font-size: $fs-md;
        color: $primary-blue;

        border: none;
        @include transition;
    
        &:focus {
            background-color: rgba($primary-blue, .2);
            outline: none;
        }
    
        &::placeholder {
            color: rgba($black, .9);
        }
    
        .dark-mode & {
            background-color: $black;
            color: $white;
    
            &::placeholder {
                color: rgba($white, .9);
            }
        }
    }
}

.home-search-bar__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    border: none;
    border-left: 1px solid #000000;
    background: #FFF;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.header--internal {
    @include grid;
    @include grid-column(12);
    background-color: $lightest-grey;
    min-height: 100vh;
    padding:  var(--top-bar-h) $gutter*3/2  $gutter*3/2  $gutter*3/2;

    @media (max-width: $xl) {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: $sm) {
        padding:  var(--top-bar-h) $gutter/2  $gutter/2  $gutter/2;
    }

    .dark-mode & {
        background-color: $black;
    }
}

.header--internal .header__media {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    //background-color: red;

    @media (max-width: $xl) {
        width: 50%;
    }

    @media (max-width: $sm) {
        //width: 100%;
        display: none;
    }
}

.header--internal .header__img,
.header--partners .header__img,
.header--home .header__img {
    position: relative;
    width: 100%;
    height: 100%;
    //background-color: red;

    img,
    .bg-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        object-position: center;
    }

    .bg-cover {
        display: none;
        @include bg-cover;
    }

    // @supports (aspect-ratio: 1/1.5) {
    //     padding-top: unset;
    //     aspect-ratio: 1/1.5;
    // }

    // @supports not (aspect-ratio: 1/1.5) {
    //     padding-top: 150%;
    // }

    @supports not (object-fit: contain) {
        img {
            display: none;
        }

        .bg-cover {
            display: block;
        }
    }

    @media (max-width: $xl) {
        @supports (aspect-ratio: 1.5/1) {
            padding-top: unset;
            aspect-ratio: 1.5/1;
        }

        @supports not (aspect-ratio: 1/1.5) {
            padding-top: 75%;
        }
    }
}

.header--internal .header__text {
    grid-column-start: 6;
    grid-column-end: 12;
    //background-color: blue;

    // @media (max-width: $xl) {
    //     grid-column-start: 1;
    //     grid-column-end: 2;
    // }
}



.header--internal .header__head {
    font-size: $fs-2xl;
    margin: 3em 0;

    @media (max-width: $xl) {
        font-size: $fs-xl;
        margin: 2em 0;
    }
}

.header--internal .header__title {
    color: $primary-blue;
    font-size: inherit;
    font-weight: $bold;
    margin-bottom: .5em;

    .dark-mode & {
        color: $white;
    }
}

.header--internal .header__intro {
    color: inherit;
    font-size: $fs-lg;
    font-weight: $regular;
    line-height: 1.43;

    strong {
        font-weight: $bold;
    }

    @media (max-width: $xl) {
        font-size: $fs-md;
    }

    @media (max-width: $md) {
        font-size: $fs-sm;
    }
}

.header--white {
    color: $black;
    background-color: $white;
}

.header--beige {
    color: $black;
    background-color: $beige;
}

.header--grey {
    color: $black;
    background-color: $the-grey;
}

.header--teal {
    color: $white;
    background-color: $teal;
}

.header--yellow {
    color: $black;
    background-color: $yellow;
}

.header--green {
    color: $black;
    background-color: $green;
}

.header--orange {
    color: $white;
    background-color: $orange;
}

.header--purple {
    color: $white;
    background-color: $purple;
}

.header--digital-blue {
    color: $white;
    background-color: $digital-blue;
}

.header--light-blue {
    color: $black;
    background-color: $light-blue;
}

.header--pale-blue {
    color: $black;
    background-color: $pale-blue;
}

.header--pink {
    color: $black;
    background-color: $pink;
}

.header--pale-green {
    color: $black;
    background-color: $pale-green;
}



// .header--pink {
//     color: $white;
//     background-color: $pink;
// }

.header--solution {
    .header__title {
        color: inherit;
    }
}

.breadcrumbs {
    font-size: $fs-sm;

    @media (max-width: $xl){
        font-size: $fs-xs;
    }
} 

.header__tags {
    @include clean-list;
    display: flex;
    flex-wrap: wrap;
}

.header__tag-item {
    font-family: $font-secondary;
    font-size: 2rem;
    margin: 0 .5em .5em 0;
    padding: .5em 1em;
    white-space: nowrap;
    border: 1px solid currentColor;
    border-radius: 50px;

    @media (max-width: $xl) {
        font-size: $fs-xs;
    }
}

.header--partners {
    width: 100%;
    height: calc(100vh/3*2);

    .header__media {
        position: relative;
        width: 100%;
        height: 100%;
    }
}


