
.block--text {
    font-size: $fs-lg;

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child,
        &:only-child {
            margin-bottom: 0;
        }
    }

    em {
        font-style: normal;
        color: $primary-blue;
    }
}