.block--stats-slider {

}

.stats-slider {
    width: calc(100% + 60px);
}

.stat-slide {
    width: 25vw;
    font-size: $fs-4xl;
    font-weight: $bold;
    padding-right: $gutter;

    em {
        font-style: normal;
    }

    a {
        color: inherit!important;
    }

    &:last-child {
        width: calc(25vw + #{$gutter/2});
        padding-right: #{$gutter/2*3};
    }

    @media (max-width: $xxxl) {
        font-size: $fs-3xl;
    }

    @media (max-width: $xxl) {
        font-size: $fs-2xl;
    }

    @media (max-width: $xl) {
        //font-size: $fs-xl;
        width: 33vw;

        &:last-child {
            width: calc(33vw + #{$gutter/2});
        }
    }

    @media (max-width: $lg) {
        width: 55vw;

        &:last-child {
            width: calc(55vw + #{$gutter/2});
        }
    }

    @media (max-width: $md) {
        width: 70vw;
        //padding-right: $gutter/2;

        &:last-child {
           width: calc(70vw + #{$gutter/2});
        }
    }

    @media (max-width: $sm) {
        //width: 70vw;
        padding-right: $gutter/2;

        &:last-child {
           width: calc(70vw + #{$gutter});
        }
    }
}

.stat-slide__in {
    width: 100%;
    aspect-ratio: 1/1.6;
    padding: $gutter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $lg) {
        padding: $gutter/2;
    }
}

.stat-slide__top {

}

.stat-slide__bottom {
    
}

.stat-slide--bg-green,
.stat-slide--bg-blue {

    &.stat-slide--text-black {
        em {
            color: $white;
        }
    }

    &.stat-slide--text-white {
        em {
            color: $black;
        }
    }
}

.stat-slide--bg-green {
    .stat-slide__in {
        background-color: $primary-green;
    }
}

.stat-slide--bg-blue {
    .stat-slide__in {
        background-color: $primary-blue;
    }
    
}

.stat-slide--bg-grey {

    a {
        color: $primary-blue!important;
    }

    .stat-slide__in {
        background-color: $lightest-grey;
    }

    &.stat-slide--text-black {
        em {
            color: $primary-blue;
        }
    }

    &.stat-slide--text-blue,
    &.stat-slide--text-green {
        em {
            color: $black;
        }
    }
}

.stat-slide--text-black {
    color: black;
}

.stat-slide--text-white {
    color: $white;
}

.stat-slide--text-green {
    color: $white;
}

.stat-slide--text-blue {
    color: $primary-blue;
}

.stat-slide__title {
    font-size: $fs-lg;

    @media (max-width: $xxxl) {
        font-size: $fs-md;
    }

    @media (max-width: $xxl) {
        font-size: $fs-sm;
    }
}

.stat-slide__stat {
    display: block;
    margin: .333333em 0;

    &:first-child,
    &:only-child {
        margin-top: 0;
    }
}

.stat-slide__detail {
    font-size: $fs-md;
    font-weight: $medium;

    @media (max-width: $xxxl) {
        font-size: $fs-sm;
    }

    @media (max-width: $xxl) {
        font-size: $fs-xs;
    }
}

.stat-slide {

    a.stat-slide__link {
        display: flex;
        align-items: center;
        font-size: $fs-lg;
    
        &:after {
            content: ">";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0.9em;
            height: 1em;
            margin-left: .25em;
            padding-left: .1em;
            font-size: .8em;
            font-family: $font-secondary;
            font-weight: $regular;
            background-color: $primary-blue;
            color: white;
            border-radius: 50%;
    
            @include transition(all, .2s, ease-in-out);
        }
    
        &:hover {
            &:after {
                transform: translateX(.5em);
            }
        }
    }

}

.stat-slide--bg-green a.stat-slide__link {
    color: $white!important;

    &:after {
        background-color: $white;
        color: $primary-green;
    }
}

.stat-slide--bg-blue a.stat-slide__link {
    color: $white!important;

    &:after {
        background-color: $white;
        color: $primary-blue;
    }
}