.block--ctas {
    position: relative;
    padding-top: $gutter;
    padding-bottom: $gutter;

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: -60px;
        width: 100vw;
        height: 100%;
        z-index: -1;
    }

    &--blue {
        background-color: $primary-blue;

        &:after {
            background-color: $primary-blue;
        }

        .cta-item__title,
        .cta-item__link {
            color: $primary-blue;
        }
    }

    &--green {
        background-color: $primary-green;

        &:after {
            background-color: $primary-green;
        }

        .cta-item__title,
        .cta-item__link {
            color: $primary-green;
        }
    }

    + .block--ctas {
        margin-top: $space-lg;
    }

    @media (max-width: $sm) {
        &:after {
            right: -20px;
        }
    }
}

.ctas {
    @include clean-list;
}

.cta-item {
    background-color: $white;
    margin-bottom: $gutter;
    padding: $gutter;
    border-radius: $gutter;
    font-size: $fs-md;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: $lg) {
        padding: $gutter/3*2;
        border-radius: $gutter/2;
    }

    @media (max-width: $sm) {
        padding: $gutter/2;
        border-radius: $gutter/4;
    }
}

.cta-item__title {
    font-size: $fs-lg;
    font-weight: $bold;
    //color: $primary-blue;
}

.cta-item__link {
     font-weight: $bold;
}