.card {
    container: inline-size;
    position: relative;
    width: 100%;
    padding-top: 160%;
    overflow: hidden;
    background-color: $lightest-grey;
    font-family: $font-primary;
    //margin: 50px;
    @include box-shadow;
    transition: transform .2s ease-in-out;

    @supports (aspect-ratio: 1/1.6) {
        padding-top: unset;
        aspect-ratio: 1/1.6;
    }

    .dark-mode & {
        background-color: $black;
        color: $white;
        border: 1px solid $white;
    }
}

.card--hover {
    transform: scale(1.05) translate3d(0, 0, 0);
}

.card--rounded {
    border-radius: 20px;
}

.card--light-grey {
    background-color: $lightest-grey;

    .card__number {
        color: $lightest-grey;
    }
}

.card--white {
    background-color: $white;
}

.card--beige {
    background-color: $beige;
}

.card--grey {
    background-color: $the-grey;
}

.card--teal {
    background-color: $teal;
}

.card--yellow {
    background-color: $yellow;

    .card__number {
        color: $yellow;
    }
}

.card--green {
    background-color: $green;

    .card__number {
        color: $green;
    }
}

.card--orange {
    background-color: $orange;

    .card__number {
        color: $orange;
    }
}

.card--purple {
    background-color: $purple;

    .card__number {
        color: $purple;
    }
}

.card--digital-blue {
    background-color: $digital-blue;

    .card__number {
        color: $digital-blue;
    }
}

.card--light-blue {
    background-color: $light-blue;

    .card__number {
        color: $light-blue;
    }
}

.card--pink {
    background-color: $pink;

    .card__number {
        color: $pink;
    }
}

.card--pale-blue {
    background-color: $pale-blue;

    .card__number {
        color: $pale-blue;
    }
}

.card--pale-green {
    background-color: $pale-green;

    .card__number {
        color: $pale-green;
    }
}

.card-in {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7.5%;
}

.card__header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.card__type {
    display: flex;
    align-items: center;
    font-size: $fs-sm;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid currentColor;

    @container (max-width: 300px){
        font-size: $fs-xs;
    }
}

.card__type__icon {
    width: 1em;
    height: 1.2em;
    margin-right: .25em;
    background-color: black;

    svg {
        height: 100%;
    }
}

.card__type__name {
    font-family: $font-secondary;
    
}

.card__time {
    font-family: $font-secondary;
    font-size: $fs-sm;
    // margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid $black;

    .dark-mode & {
        border-color: $white;
    }
}

.card__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.card__title {
    font-size: $fs-lg;
    font-weight: $medium;
    margin-top: 1em;
    margin-bottom: .25em;

    @container (max-width: 300px){
        font-size: $fs-md;
    }
}

.card__number {
    display: inline-flex;
    padding: .15em;
    font-size: .7em;
    transform: translatey(-.1em);
    margin-right: .25em;
    border-radius: .2em;
    font-family: $font-secondary;
    font-weight: $regular;
    background-color: black;
    color: white;
}

.card__sub-title {
    font-size: $fs-sm;
    margin: 0;

    .card-partner & {
        font-size: $fs-xs;
    }
}

.card__read-more {
    display: flex;
    align-items: center;
    font-size: $fs-lg;
    font-weight: $bold;
    color: $primary-blue;
    margin-top: .5em;

    &:after {
        content: ">";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0.9em;
        height: 1em;
        margin-left: .25em;
        padding-left: .1em;
        font-size: .8em;
        font-family: $font-secondary;
        font-weight: $regular;
        background-color: $primary-blue;
        color: white;
        border-radius: 50%;

        @include transition(all, .2s, ease-in-out);
    }

    .card__link:hover + .card-in & {
        &:after {
            transform: translateX(.5em);
        }
    }
}

.card--partner__logo {
    img {
        display: block;
        max-height: 100px;
    }
    
}

.card--experience__logo {

}

.card__media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 0;
    flex: 1 1 auto;
}

.card__img {
    position: relative;
    
    img {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        height: 100%;
    }

    .card--expert & {
        width: 100%;
        height: 100%;

        img {
            display: block;
            //width: 100%;
            // height: 100%;
            width: 100%;
            height: calc(100% - 50px);
            object-fit: contain;
            object-position: left bottom;

            @supports not (object-fit: contain) {
                display: none;
            }
        }

        .img-cover {
            width: 100%;
            height: calc(100% - 50px);
            background-size: contain;
            background-position: left bottom;
            background-repeat: no-repeat;

            @supports (object-fit: contain) {
                display: none;
            }

            @supports not (object-fit: contain) {
                display: block;
            }
        }
    }

    .card--partner & {
        width: 100%;
        height: 75%;

        img {
            display: block;
            //width: 100%;
            // height: 100%;
            width: 100%;
            height: calc(100% - 50px);
            object-fit: cover;
            object-position: center;

            @supports not (object-fit: contain) {
                display: none;
            }
        }

        .img-cover {
            width: 100%;
            height: calc(100% - 50px);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @supports (object-fit: contain) {
                display: none;
            }

            @supports not (object-fit: contain) {
                display: block;
            }
        }
    }

}



.card__footer {
    flex: 0 0 auto;
    //margin-top: 30px;
}

.card__tags {
    @include clean-list;
    display: flex;
    flex-wrap: wrap;
}

.card__tag-item {
    font-family: $font-secondary;
    font-size: $fs-xs;
    margin-right: .25em;
    margin-top: .25em;
    padding: .25em .5em;
    border: 1px solid currentColor;
    border-radius: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.card__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    //display: none;

    span {
        display: none;
    }
}