.side-nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

.side-nav__list {
    //--h: 0;
    @include clean-list;
    position: relative;
    font-size: $fs-sm;
    position: sticky;
    top: calc(var(--top-bar-h) + #{$gutter});

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
    }

    &:before {
        height: 100%;
        background-color: $light-grey;

        .dark-mode & {
            background-color: $dark-grey;
        }
    }

    &:after {
        height: var(--h);
        background-color: $black;

        .dark-mode & {
            background-color: $white;
        }
    }

    @media (max-width: $xl) {
        display: none;
    }

}

.side-nav__item {
    padding-left: .4em;
}

.side-nav__link {
    position: relative;
    color: $light-grey;
    
    @include transition;

    &--is-active,
    &:hover {
        color: $black;
    }

    .dark-mode & {
        color: $dark-grey;

        &--is-active,
        &:hover {
            color: $white;
        }
    }

}

.side-nav__partner-info {

    img {
        display: block;
        width: 100%;
        max-width: 125px;
    }
}